In [1]:
import pandas as pd
from sklearn.datasets import load_iris
data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = pd.Series(data.target)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [2]:
df = df.rename(columns={'sepal length (cm)': 'sepal_length', 'sepal width (cm)': 'sepal_width', 'petal length (cm)': 'petal_length', 'petal width (cm)': 'petal_width'})

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['target']), df['target'], test_size=0.33, random_state=13)
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
55            5.7          2.8           4.5          1.3
64            5.6          2.9           3.6          1.3
21            5.1          3.7           1.5          0.4
101           5.8          2.7           5.1          1.9
112           6.8          3.0           5.5          2.1

In [8]:
treino = ((y_train.value_counts()/len(y_train))*100).round(2)
teste = ((y_test.value_counts()/len(y_test))*100).round(2)
treino

target
1    36.0
0    34.0
2    30.0
Name: count, dtype: float64