In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fake_doi = pd.read_csv('fake_data_2.csv')

# Dados faltantes

Existem 3 opções:
- Remover linhas ou colunas com dados faltantes
- Preencher os nulls com média ou moda
- Preencher os nulls com inferências de machine learning

In [4]:
hasNan = fake_doi.isnull().sum()
print(hasNan)

cargo      0
idade      0
salario    2
bonus      2
sócio      0
dtype: int64

In [7]:
cleanColumn = fake_doi.dropna(axis=1)
cleanColumn

          cargo  idade sócio
0       Diretor     45   sim
1      Analista     22   não
2   Programador     30   não
3       Gerente     24   não
4       Gerente     30   sim
5   Programador     22   não
6      Analista     20   não
7       Diretor     50   sim
8      Fundador     65   sim
9      Analista     32   não
10  Programador     35   não
11  Programador     28   não
12     Fundador     28   sim
13  Programador     30   sim

# Iris

In [8]:
import pandas as pd
from sklearn.datasets import load_iris

In [14]:
data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [15]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64