In [1]:
import os
import pandas as pd

In [13]:
labels = pd.read_csv('labels.tsv', sep='\t', decimal=',')
labels.drop(columns=['Qtd Músculo', 'Qtd Tec. Conjuntivo', 'Qtd Vasos', 'Observações', '% TC', '% Vasos', 'Média % Músculo', 'Média % TC'], inplace=True)

labels.head(10)

             Arquivo  % Músculo
0   Rato1FDControle1     79.630
1   Rato1FDControle2     51.852
2   Rato1FDControle3     68.519
3   Rato1FDControle4     70.370
4   Rato1FDControle5     72.222
5   Rato1FDControle6     59.259
6   Rato1FDControle7     57.407
7   Rato1FDControle8     59.259
8   Rato1FDControle9     64.815
9  Rato1FDControle10     72.222

In [14]:
# Get labels where Arquivo = Rato1FDControle8
labels[labels['Arquivo'] == 'Rato1FDControle8']

            Arquivo  % Músculo
7  Rato1FDControle8     59.259

In [16]:
# Raname files to match the labels

# Files inside /LabeledData

for i, row in labels.iterrows():
    old_name = row['Arquivo'] + '.jpg'
    new_name = str(row['% Músculo']).replace('.', '_') + '.jpg'
    # Check if file exists
    if os.path.exists(f'LabeledData/{old_name}'):
        os.rename(f'LabeledData/{old_name}', f'LabeledData/{new_name}')

FileExistsError: [WinError 183] Não é possível criar um arquivo já existente: 'LabeledData/Rato1FDControle10.jpg' -> 'LabeledData/72_222.jpg'

In [2]:
# Read file names at /training and store in a list
training_files = os.listdir('training')

# Write list inside training/images.txt
with open('training/images.txt', 'w') as f:
    for item in training_files:
        f.write("%s\n" % item)